[submodule "src/histgram"]
	path = histgram
	url = ../histgram
[submodule "src/spine"]
	path = spine
	url = ../spine
[submodule "src/toml11"]
	path = src/toml11
	url = https://github.com/ToruNiina/toml11
